* { margin: 0; padding: 0; box-sizing: border-box; }

.container { position: relative; display: inline-block; }

.health_timer_container {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.health_bar_container_right, .health_bar_container_left { position: relative; height: 30px; width: 100%; }
.health_bar_container_left { display: flex; justify-content: flex-end; }

.health_bar_background_right, .health_bar_background_left { background-color: yellow; height: 30px; }
.health_bar_background_left { width: 100%; }

.health_bar_right, .health_bar_left { position: absolute; background: blue; inset: 0 0 0 auto; }

.health_bar_right { inset: 0; }
.health_bar_left { width: 100%; }

.timer {
    background-color: red;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner_label {
    color: white;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    inset: 0;
}
